<h2>Shopping Cart </h2>

<ul>
    <li ng-repeat="item in items">
        <p>{{ item.name }}</p>
        <p>{{ item.price }}</p>
        <p>{{ item.total }}</p>
        
    </li>
</ul>
<input type="txt_name" ng-model="user_name" placeholder="Enter username">
<input type="txt_email" ng-model="user_email" placeholder="Enter email">
<input type="txt_c_no" ng-model="contact_no" placeholder="Enter phone no">
<input type="txt_ccard" ng-model="user_creditCard" placeholder="Enter your credit card number">
